@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@300;700&display=swap');

body{
    font-family: "Roboto Condensed";
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
    margin: 10px 100px 0 100px;
}

#logo {
    display: flex;
    align-items: center;
    flex: 0 0 150px;  
    margin-top: 45px;
}

#logo img {
    width: 135px;
    z-index: 2;
}

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;
}

ul {
    list-style-type: none;
    display: flex;
}

.nav-link {
    padding: 10px;
}

a {
    text-decoration: none;
}

#hero {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #f1f1f1;
}

#header-img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 65% 90%, 0 80%);
    z-index: 1;
}

#hero-header, #hero-text {
    width: 800px;
    margin: auto;
}


#hero-header {
    color: #32435f;
    font-size: 48px;
    font-weight: bold;
}

#hero-text {
    color: #5a5a5a;
    font-size: 42px;
    font-weight: 300;
    padding-bottom: 90px;
}

.section {
    padding-top: 75px;
    display: flex;
}

#our-space {
    display: flex;
}

.section-header {
    width: 450px;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: bisque;
    border: 2px solid black;
    
}

.header-style {
    padding: 10px;
    height: 50px;
    font-size: 38px;
    font-weight: 800;
    border-bottom: 5px solid #A7927D;
    flex: none;
}

.section-content {
    width: 600px;
    padding: 0 50px 10px 50px;
}

.list-item, p {
    font-size: 20px;
}

.images {
    display: flex;
}

#amenities {
    display: flex;
}

#pricing {
    display: flex;
}

#closing {
    display: flex;
    flex-direction: column;
    height: 250px;
}

footer {
    display: flex;
    justify-content: space-between;
}

#social-links {
    display: flex;
}

#small-container {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}



/* 

Colors:

Light gray background: #f1f1f1
Brown accent color: #A7927D
Blue: #32435F
Text color: #5a5a5a 

Font:

font-family: 'Roboto Condensed', sans-serif;

*/

